{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":7,"column":12},"end":{"row":7,"column":13},"action":"remove","lines":["1"],"id":2},{"start":{"row":11,"column":17},"end":{"row":12,"column":16},"action":"insert","lines":[".1","Flask-Login==0.4"]}],[{"start":{"row":21,"column":24},"end":{"row":21,"column":25},"action":"insert","lines":["s"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":21,"column":24},"end":{"row":21,"column":24},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1566928721340,"hash":"79a064a1f535dbd4f4cfb2880c10e6e07179102e"}