{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":12},"end":{"row":11,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b4c524dded6d4146fad5fef7996b5a59232c2a26","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1568395749171}