@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');

/* Main style */
body{
    color:#333333;
}

.row{
    margin-left:15px;
    margin-right:15px;
}

a{
    color:#ffffff;
}

a:hover {
    color: #003333;
    text-decoration:none;
}

a:not([href]):not([tabindex]) {
    color:#ffffff;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    margin-top: 50px;
    margin-bottom: -50px;
}

/* error page style */
.error-page{
    margin-left:100px;
    margin-top:100px;
    margin-right:100px;
}

.error-home-link{
    color:#339966;
}

/* Page header styling*/
.page-header{
    margin-top:80px;
    margin-left:25px;
}

.home-page-header{
    font-size:20px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Nav styling */

.navbar{
    background-color: #339966;
    list-style:none;
    margin-bottom:10px;
}

.navbar-brand{
    padding-left: 20px;
    font-family: 'Courgette';
    color: #ffffff;
    font-size:25px;
}

.navbar-brand:hover{
    color:#003333;
}

.main-nav-menu {
    display: inline-flex;
    width: 40%;
    justify-content: space-between;
    align-items: baseline;
}

.nav-ul {
    list-style: none;
    display: contents;
}

/*Styling for nav menu dropdown*/

.dropdown-menu, .dropdown-item, .nav-link{
    background-color:#339966;
    color:#ffffff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #003333;
    text-decoration: none;
    background-color: #339966;
}

.dropdown-menu-right{
    right: -23px;
}

/* Recipes homepage style */
.display-recipes{
    justify-content:center;
}

.input-field{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.search-bar {
    background-color: #cccccc;
    width: 95%;
    margin-top: 10px;
}

.search-bar:focus {
    outline: none;
}

.search-form-top{
    margin-top: 80px;
}

.search-form{
    width: 100%;
    height:50px;
}

.search-btn {
    background-color: #339966;
    color: #ffffff;
    height: 24px;
    margin-left: 5px;
    padding: 0px;
    transform: translateY(12px);
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.card-text {
    min-height: 100px;
    font-size: larger;
}

.card-title{
    min-height:120px;
}

.view-recipe-btn{
    color: #fff;
    background-color: #339966;
    border-color: #339966;
}

/* Recipecard template styling */

.recipe-container{
    padding-left:20px;
    font-family: 'Roboto';
    margin-top:100px;
}

.method-ingredient-title{
    text-decoration: underline;
}

.btn.save-btn{
    background-color:#003333;
    color:#ffffff;
    margin-top:10px;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #cccccc;
}

.full-recipe-card{
    width:100%;
    margin-bottom: 20px;
    border: 0px solid rgba(0,0,0,0);
}

.full-recipe-card-top{
    height:500px;
    object-fit: cover;
}

.full-recipe-card-body{
    height: 60px;
}

.icon-star{
    transform: translateY(4px);
    margin-top: 40px;
}

/* Submit / Edit  recipe form styling */

.helper-text{
    color:#cccccc;
    font-size: 16px;
}

.textarea-add-btn {
    transform: translateY(-10px);
}

.add-btn {
    background-color: #339966;
    color: #ffffff;
    height: 24px;
    margin-left: 5px;
    padding: 0px;
}

.form-container{
    padding-right: 20px;
    font-family: 'Roboto';
    max-width: 90%;
    margin-top:80px;
    margin-left:50px;
}

input{
    width:90%;
    box-shadow: none;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
    padding-left:10px; 
}

input:focus, textarea:focus{
    outline-color:#cccccc;
}

.extra-input{
    width: 80%;
}

.input-div-width{
    width: 100%;
}

textarea {
    overflow: auto;
    resize: vertical;
    width: 90%;
    height: 28px;
    border-color: #cccccc;
}
    
.label{
    color: #339966;
}


/* about page styling */
.about-page{
    margin-left:50px;
    margin-top:100px;
}

.about-text, .about-header{
    margin-left:-26px;
}

.jumbotron-fluid{
    background-image:url('https://c.pxhere.com/images/41/f2/9cae19e4045f684f3c3b9eeb1bc7-1455763.jpg!d');
    height:400px;
    background-size:cover;
    margin: -55px -55px 20px -55px;
}

.mailto {
    color: #339966;
}

/*login page styling*/
.signup{
    color:#339966;
}

.invalid-message{
    margin-left:50px;
}

/* My Recipes style */

.delete-recipe-btn{
    margin-top:10px;
    background-color:#333333;
    border-color: #333333;
}

.delete-recipe-btn:hover{
    color:#cccccc;
}

.preview-image, .submit-preview-image{
    height:200px;
}

/* Media Queries */
@media (max-width: 992px){
    .main-nav{
        display:none;
    }
}
@media (min-width:992px) {
    .extra-input {
        width: 90%;
    }
}
