@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.nav-wrapper{
    background-color: #9b111e;
}

a.brand-logo{
    padding-left: 20px;
    font-family: 'Courgette';
}

.card-content{
    min-height: 300px;
}