@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');
/* recipes.html styling */
.nav-wrapper{
    background-color: #9b111e;
}

a.brand-logo{
    padding-left: 20px;
    font-family: 'Courgette';
}

.card-content{
    min-height: 300px;
}

/* recipecard template styling */

.recipe-image{
    padding-top: 100px;
}

.star{
    color: gold;
}

.recipe-container{
    padding-left:20px;
    font-family: 'Roboto';
}

h5{
    text-decoration: underline;
}

.btn.save-btn{
    background-color:#9b111e;
}

/* styling for forms */

.form-container{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto';
    max-width: 80%;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
    border-bottom: 1px solid #9b111e;
    -webkit-box-shadow: 0 1px 0 0 #9b111e;
    box-shadow: 0 1px 0 0 #9b111e;
}

.label{
    color: #9b111e;
}

/*styling for submit recipe*/
.btn-floating i {
    font-size: 1rem;
    line-height: 20px;
}

.btn-floating {
    width: 20px;
    height: 20px;
}
