{% extends 'base.html' %} {% block content %}
<div class="about-page">
    <h3>About</h3>
    <div class="row">
        <div class="col s12 m6">
            <div>
                <p>Bakebook is a recipe sharing side for all bakers. Whether you are a regular Nigella in the kitchen or just starting out, Bakebook is a community to share and find recipes.</p>
                <p>You can search for recipes based on keywords in the titles or sub-titles. Sign up and you can submit, edit, delete and save recipes.</p>
            </div>
        </div>
        <div class="col s12 m6">
            <img src: "https://c.pxhere.com/images/41/f2/9cae19e4045f684f3c3b9eeb1bc7-1455763.jpg!d"/>
        </div>
    </div>
</div>
{% endblock %}