{% extends 'base.html' %} {% block content %}
<div class="about-page">
    <div class="jumbotron jumbotron-fluid">
    </div>
    <div class="container">
            <h3 class="about-header">About</h3>
            <div class="about-text">
                <p>Bakebook is a recipe sharing site for all bakers. Whether you are a regular Nigella in the kitchen or just starting out, Bakebook is a community to share and find recipes.</p>
                <p>You can search for recipes based on keywords in the titles or sub-titles. Sign up and you can submit, edit, delete and save recipes.</p>
            </div>
            <div class="about-text">
                <p>Got a question or have some feedback? Please contact us at <a class="mailto" href="mailto:bakebooksite@gmail.com">BakeBookSite@gmail.com</a> </p>
            </div>
        </div>
</div>
{% endblock %}