{% extends 'base.html' %} {% block content %}
<div class="about-page">
    <div class="jumbotron jumbotron-fluid" style="background-image:url('https://c.pxhere.com/images/41/f2/9cae19e4045f684f3c3b9eeb1bc7-1455763.jpg!d')">
        <div class="container">
            <h3>About</h3>
            <div class="about-text">
                <p>Bakebook is a recipe sharing side for all bakers. Whether you are a regular Nigella in the kitchen or just starting out, Bakebook is a community to share and find recipes.</p>
                <p>You can search for recipes based on keywords in the titles or sub-titles. Sign up and you can submit, edit, delete and save recipes.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}