<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
        <a href="https://bake-book-milestone.herokuapp.com/" class="brand-logo">BakeBook</a>
        <a href="#" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://bake-book-milestone.herokuapp.com/">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            {% if session %}
            <li><a href="{{url_for('submit_recipe')}}">Submit a recipe</a></li>
            <!--Dropdown content -->
            <ul id='dropdown' class='nav-dropdown-content'>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                <li><a href="{{url_for('my_recipes')}}">My Recipes</a></li>
                <li><a href="{{url_for('my_saved_recipes')}}">Saved Recipes</a></li>
            </ul>
            <!--Dropdown trigger -->
            <li><a class='nav-dropdown'>{{ session['username'] }}</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}">Login / Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
            {% if session %}
            <!--Dropdown content -->
            <ul id='dropdown' class='nav-dropdown-content'>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                <li><a href="{{url_for('submit_recipe')}}">Submit a recipe</a></li>
                <li><a href="{{url_for('my_recipes')}}">My Recipes</a></li>
                <li><a href="{{url_for('my_saved_recipes')}}">Saved Recipes</a></li>
            </ul>
            <!--Dropdown trigger -->
            {% else %}
            <li><a href="{{url_for('login')}}">Login / Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        function removeInput(e) {
            e.parentElement.remove(e.parentElement);
        }
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
            
        });
        
        $(document).ready(function() {
    
            $(".nav-dropdown").click(function() {
                if ($(".nav-dropdown-content").hasClass("nav-dropdown-visible")) {
                    $(".nav-dropdown-content").removeClass("nav-dropdown-visible");
                }
                else {
                    $(".nav-dropdown-content").addClass("nav-dropdown-visible");
                }
            });
    
            $("#addNewIngredient").click(function() {
                var newInput = $("<div><input required type='text' value='' class='ingredients' name='ingredients'></input><a class='btn-floating btn-small waves-effect waves-light extraInput' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#ingredients").append(newInput);
            });
    
            $("#addNewStep").click(function() {
                var newInput = $("<div><input required type='text' value='' class='method' name='method'></input><a class='btn-floating btn-small waves-effect waves-light extraInput' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#method").append(newInput);
            });
    
            $("#addNewTag").click(function() {
                var newInput = $("<div><input required type='text' value='' class='tags' name='tags'></input><a class='btn-floating btn-small waves-effect waves-light extraInput' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#tags").append(newInput);
            });
        });
    </script>
</body>

</html>