<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
<!-- mobile nav -->
<nav class="mobile-nav navbar fixed-top">
    <a class="navbar-brand" href="https://bake-book-milestone.herokuapp.com/">Bakebook</a>
    <div class="dropdown hidden-md-up">
        <li class="nav-item dropdown-mobile">
            <a class="nav-link mobile-dropdown dropdown" href="#" id="navbarDropdownMobileLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa fa-bars"></i>
                </a>
            <div class="dropdown-menu mobile-menu dropdown-menu-right" aria-labelledby="navbarDropdownMobileLink">
                <a class="dropdown-item" href="{{url_for('show_recipes')}}">Home</a>
                <a class="dropdown-item" href="{{url_for('about')}}">About</a> {% if session['logged_in'] %}
                <a class="dropdown-item" href="{{url_for('my_recipes')}}">My Recipes</a>
                <a class="dropdown-item" href="{{url_for('my_saved_recipes')}}">My Saved Recipes</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a> {% else %}
                <a class="nav-link" href="{{url_for('login')}}">Login / Sign Up</a> {% endif %}
            </div>
        </li>
    </div>
    </div>
</nav>
<!-- Nav Section -->
<nav class="main-nav navbar fixed-top hidden-sm-down">
    <li class="nav-item">
    <a class="navbar-brand" href="https://bake-book-milestone.herokuapp.com/">Bakebook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('show_recipes')}}">Home</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
    {% if session['logged_in'] %}
    <li>
        <a href="{{url_for('submit_recipe')}}">Submit a recipe</a>
        </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ session['username'] }}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-main-nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('my_recipes')}}">My Recipes</a>
          <a class="dropdown-item" href="{{url_for('my_saved_recipes')}}">My Saved Recipes</a>
          <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
        </div>
      </li>
      {% else %}
          <a class="nav-link" href="{{url_for('login')}}">Login / Sign Up</a>
      {% endif %}
</nav>

    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    //function to remove extra inputs for method and ingredients
        function removeInput(e) {
            e.parentElement.remove(e.parentElement);
        }
        function showPreview() {
                var new_url = document.getElementById('recipe_url').value;
                if (document.getElementById('edit_preview') != null) {
                    document.getElementById('edit_preview').src = new_url;
                }
                else {
                    document.getElementById('submit-preview').src = new_url;
                }
            }
        $(document).ready(function() {
            if (document.getElementById('recipe_url')){
                 showPreview();
                 document.getElementById('recipe_url').addEventListener('change', showPreview);
            }
            
            // on click functions to add extra inputs for method and ingredients
            $("#addNewIngredient").click(function() {
                var newInput = $("<div><input required type='text' value='' class='ingredients extra-input' name='ingredients'></input><a class='btn' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#ingredients").append(newInput);
            });
    
            $("#addNewStep").click(function() {
                var newInput = $("<div><textarea value='' class='method extra-input' name='method'><a class='btn' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#method").append(newInput);
            });
        });
    </script>
</body>

</html>