<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
<!-- mobile nav -->
<nav class="mobile-nav navbar fixed-top">
    <a class="navbar-brand" href="https://bake-book-milestone.herokuapp.com/">Bakebook</a>
        <div class="dropdown hidden-md-up">
            <li class="nav-item dropdown-mobile">
                <a class="nav-link mobile-dropdown dropdown" href="#" id="navbarDropdownMobileLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa fa-bars"></i>
                </a>
                <div class="dropdown-menu mobile-menu" aria-labelledby="navbarDropdownMobileLink">
                    <a class="dropdown-item" href="{{url_for('show_recipes')}}">Home</a>
                    <a class="dropdown-item" href="{{url_for('about')}}">About</a> {% if session['logged_in'] %}
                    <a class="dropdown-item" href="{{url_for('my_recipes')}}">My Recipes</a>
                    <a class="dropdown-item" href="{{url_for('my_saved_recipes')}}">My Saved Recipes</a>
                    <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a> {% else %}
                    <a class="nav-link" href="{{url_for('login')}}">Login / Sign Up</a> {% endif %}
                </div>
            </li>
        </div>
        </div>
</nav>
<!-- Nav Section -->
<nav class="main-nav navbar fixed-top hidden-sm-down">
    <a class="navbar-brand" href="https://bake-book-milestone.herokuapp.com/">Bakebook</a>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('show_recipes')}}">Home</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
    {% if session['logged_in'] %}
    <li>
        <a href="{{url_for('submit_recipe')}}">Submit a recipe</a>
        </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ session['username'] }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('my_recipes')}}">My Recipes</a>
          <a class="dropdown-item" href="{{url_for('my_saved_recipes')}}">My Saved Recipes</a>
          <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
        </div>
      </li>
      {% else %}
          <a class="nav-link" href="{{url_for('login')}}">Login / Sign Up</a>
      {% endif %}
</nav>

    
    
<!--    <div class="navbar-fixed">-->
<!--<nav>-->
<!--    <div class="nav-wrapper">-->
<!--        <a href="https://bake-book-milestone.herokuapp.com/" class="brand-logo">BakeBook</a>-->
<!--        <a href="#" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
<!--        <ul id="nav-mobile" class="right hide-on-med-and-down">-->
<!--            <li><a href="https://bake-book-milestone.herokuapp.com/">Home</a></li>-->
<!--            <li><a href="{{url_for('about')}}">About</a></li>-->
<!--            {% if session %}-->
<!--            <li><a href="{{url_for('submit_recipe')}}">Submit a recipe</a></li>-->
            <!--Dropdown content -->
<!--            <ul id='dropdown' class='nav-dropdown-content'>-->
<!--                <li><a href="{{url_for('logout')}}">Logout</a></li>-->
<!--                <li><a href="{{url_for('my_recipes')}}">My Recipes</a></li>-->
<!--                <li><a href="{{url_for('my_saved_recipes')}}">Saved Recipes</a></li>-->
<!--            </ul>-->
            <!--Dropdown trigger -->
<!--            <li><a class='nav-dropdown'>{{ session['username'] }}</a></li>-->
<!--            {% else %}-->
<!--            <li><a href="{{url_for('login')}}">Login / Sign Up</a></li>-->
<!--            {% endif %}-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<!--<ul class="sidenav" id="mobile-demo">-->
<!--            {% if session %}-->
            <!--Dropdown content -->
<!--            <ul id='dropdown' class='nav-dropdown-content'>-->
<!--                <li><a href="{{url_for('logout')}}">Logout</a></li>-->
<!--                <li><a href="{{url_for('submit_recipe')}}">Submit a recipe</a></li>-->
<!--                <li><a href="{{url_for('my_recipes')}}">My Recipes</a></li>-->
<!--                <li><a href="{{url_for('my_saved_recipes')}}">Saved Recipes</a></li>-->
<!--            </ul>-->
            <!--Dropdown trigger -->
<!--            {% else %}-->
<!--            <li><a href="{{url_for('login')}}">Login / Sign Up</a></li>-->
<!--            {% endif %}-->
<!--        </ul>-->
<!--    </div>-->
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function removeInput(e) {
            e.parentElement.remove(e.parentElement);
        }
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.SideNav.init(elems, options);
            
        });
        
        $(document).ready(function() {
    
            var img_url=document.getElementById('recipe_url').value;
            document.getElementById('img_preview').src = img_url;
            
            
            // var img_input = document.getElementById('recipe_url'); //get input
            // var submit_img_preview = document.getElementById('submit-preview'); //get image element

            img_input.addEventListener('change', updateValue);

            function updateValue() {
                console.log("called updateValue");
                var img_url=document.getElementById('recipe_url').value;
                document.getElementById('submit-preview').src = img_url;
            }
            
            // var submit_img_element = document.getElementById('recipe_url');
            // submit_img_element.addEventListener('change', (event) =>{
            //     submit_recipe_url = submit_img_element.value;
            //     document.querySelector('.submit-preview-image').src = submit_recipe_url;
            // });

    
            $("#addNewIngredient").click(function() {
                var newInput = $("<div><input required type='text' value='' class='ingredients' name='ingredients'></input><a class='btn' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#ingredients").append(newInput);
            });
    
            $("#addNewStep").click(function() {
                var newInput = $("<div><input required type='text' value='' class='method' name='method'></input><a class='btn' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#method").append(newInput);
            });
    
            $("#addNewTag").click(function() {
                var newInput = $("<div><input required type='text' value='' class='tags' name='tags'></input><a class='btn-floating btn-small waves-effect waves-light extraInput' onClick='removeInput(this)'><i class='material-icons'>delete</i></a></div>")
                $("#tags").append(newInput);
            });
        });
    </script>
</body>

</html>