{% extends 'base.html' %} {% block content %}
<div class='form-container'>
    <h3>Edit recipe</h3>
    <h4>Update the details below to edit the recipe</h4>
    <form method="POST">
        {{ form.csrf_token }} {{ form.recipe_title.label }} {{ form.recipe_title }} {{ form.sub_title.label }} {{ form.sub_title }}
        <div>
            <input type="file" name="recipe_img" />
        </div>
        {{ form.makes.label }} {{ form.makes(placeholder = "How many/much does this recipe make?") }} {{ form.takes.label }} {{ form.takes(placeholder = "How long does this recipe take to make?") }} {{ form.ingredients.label }} <a class="btn-floating btn-small waves-effect waves-light"
            id="addNewIngredient"><i class="material-icons">add</i></a>
        <div id="ingredients">
            {% for ingredient in form.ingredients.data %}
            <input type="text" value="{{ingredient}}" class="ingredients" name="ingredients"> {% endfor %}
        </div>
        {{ form.method.label }} <a class="btn-floating btn-small waves-effect waves-light" id="addNewStep"><i class="material-icons">add</i></a>
        <div id="method">
            {% for step in form.method.data %}
            <input id="method" name="method" type="text" value="{{step}}"> 
            {% endfor %}
        </div>
        {{ form.tags.label }} <a class="btn-floating btn-small waves-effect waves-light" id="addNewTag"><i class="material-icons">add</i></a>
        <div id="tags">
            {% for tag in form.tags.data %}
            <input id=tags name="tags" type="text" value="{{tag}}"> 
            {% endfor %}
        </div>
        <button class="btn btn-sm save-btn" type="submit">Edit Recipe</button>
    </form>
</div>

{% endblock %}