{% extends 'base.html' %} {% block content %}
<div class='form-container'>
    <h3>Edit recipe</h3>
    <h4>Update the details below to edit the recipe</h4>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
        {{ form.recipe_title.label}}
        </div>
         <div class="input-div-width">
        {{ form.recipe_title }}
        </div>
        <div>
        {{ form.sub_title.label }}
        </div>
         <div class="input-div-width">
        {{ form.sub_title }}
        </div>
        <div>
        {{ form.recipe_url.label }}
        <p class="helper-text">Please make sure the URL is valid and ends with 'png', 'jpg' or 'jpeg' or it will be replaced with the default image.</p>
        </div>
        <div class="input-div-width">
        {{ form.recipe_url}}
        </div>
        <img class="preview-image" id="edit-preview" alt="Recipe Image Preview" src="" onerror="this.onerror=null; invalidUrl(this);">
        <div>
       {{ form.makes.label }}
        </div>
        <div class="input-div-width">
        {{ form.makes(placeholder = "How many/much does this recipe make?") }}
        </div>
        <div>
        {{ form.takes.label }}
        </div>
         <div class="input-div-width">
        {{ form.takes(placeholder = "How long does this recipe take to make?") }}
        </div>
        {{ form.ingredients.label }}
        <p class="helper-text">Click the plus symbol to add more ingredients</p>
        <div id="ingredients" class="input-div-width">
            {% for ingredient in form.ingredients.data %}
            <div><input required type='text' value='{{ingredient}}' class='ingredients' name='ingredients'/><a class='btn add-btn' onClick='removeInput(this)'><i class='material-icons del-btn-ing'>delete</i></a><a class="btn add-btn" onClick="addIngredient()"><i class="material-icons">add</i></a></div>
            {% endfor %}
        </div>
        {{ form.method.label }}
        <p class="helper-text">Click the plus symbol to add more instructions</p>
        <div id="method" class="input-div-width">
            {% for step in form.method.data %}
            <div><textarea class='method' name='method'>{{step}}</textarea><a class='btn textarea-add-btn add-btn' onClick='removeInput(this)'><i class='material-icons del-btn-ing'>delete</i></a><a class="btn add-btn textarea-add-btn" onClick="addStep()"><i class="material-icons">add</i></a></div>
            {% endfor %}
        </div>
        <button class="btn btn-sm save-btn" type="submit">Edit Recipe</button>
    </form>
</div>

{% endblock %}