{% extends 'base.html' %} {% block content %}

<div class="recipe-container">

    <div class="row">
        <div class="col s12 m6">
            <h3>{{recipes.recipe_title}}</h3>
            <h4 class="sub-title">{{recipes.sub_title}}</h4>
            <p class="makes">Makes : {{recipes.makes}}</p>
            <p>Takes : {{recipes.takes}}</p>
            <div class="ingredients">
                <h5>Ingredients:</h5>
                <ul>
                    {% for ingredient in recipes.ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col s12 m6">
            <img class="recipe-image" src="/static/images/placeholder.png"></img>
            <div class="rating">
                <p>Rating: {% for i in range (0, recipes.rating) %}
                    <i class="material-icons star">star</i> {% endfor %}
                </p>
            </div>
            <div>
                <a class="waves-effect waves-light btn save-btn" action ="{{ url_for('/recipe_card/<recipe_id>')}}" method="POST" ><i class="material-icons left">add</i>Save Recipe</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="method">
                <h5>Method:</h5>
                <ol>
                    {% for step in recipes.method %}
                    <li>{{step}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col s12 m6"></div>
    </div>

</div>

{% endblock %}