{% extends 'base.html' %} {% block content %} 
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            {% for recipe in recipes %}
            <div class="card-image">
                <img>{{url_for('images', filename='/placeholder.png')}}</img>
            </div>
            <div class="card-content">
                <h3>{{recipe.recipe_title}}</h3>
                <p>{{recipe.sub_title}}</p>
            </div>
            <div class="card-action">
                <a href="#">View Recipe</a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}