{% extends 'base.html' %} {% block content %}

<div class="recipe-container">
    {% for recipe in recipes %}
    <div class="row">
        <div class="col s12 m6">
            <h3>{{recipe.recipe_title}}</h3>
            <p>{{recipe.sub_title}}</p>
            <p class="makes">Makes : {{recipe.makes}} Takes : {{recipe.takes}}</p>
        </div>
        <div class="col s12 m6">
            <img src="images/placeholder.png"></img>
            <div class="rating">
                <p>Rating: {{recipe.rating}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="ingredients">
                <p>Ingredients:</p>
                <ul>
                    {% for i in range(0, len(recipe.ingredients) %}
                    <li>{{recipe.ingredients[i]}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="method">
                <p>Method:</p>
                <ol>
                    {% for i in range(0, 4) %}
                    <li>{{recipe.method[i]}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col s12 m6"></div>
    </div>
    {% endfor %}
</div>

{% endblock %}