{% extends 'base.html' %} {% block content %} 

<div class="row">
      <form action = "{{url_for('search_results', keywords=keywords)}}" class="search-form" method="POST">
        <div class="input-field">
          <input class="search-bar" id="keywords" type="search" name="keywords">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    {% for recipe in recipes %}
    <!--<div class="col s12 m4 l3">-->
        
    <!--    <div class="card">-->
    <!--        <div class="card-image">-->
    <!--            <img src={{recipe.recipe_url}}></img>-->
    <!--        </div>-->
    <!--        <div class="card-content">-->
    <!--            <h3>{{recipe.recipe_title}}</h3>-->
    <!--            <p>{{recipe.sub_title}}</p>-->
    <!--        </div>-->
    <!--        <div class="card-action">-->
    <!--            <a class="recipe-link" href="{{url_for('recipe_card', recipe_id=recipe._id)}}">View Recipe</a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
    
<div class="card" style="width: 18rem;">
  <img src="{{recipe.recipe_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{recipe.recipe_title}}</h3>
    <p class="card-text">{{recipe.sub_title}}</p>
    <a href="{{url_for('recipe_card', recipe_id=recipe._id)}}" class="btn btn-primary">View Recipe</a>
  </div>
</div>
    
    
    {% endfor %}
</div>

 {% endblock %}