{% extends 'base.html' %} {% block content %} 

<div class="row">
    
  <nav>
    <div class="nav-wrapper">
      <form action = "{{url_for('search_results', keywords-keywords)}}">
        <div class="input-field">
          <input id="keywords" type="search">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
    {% for recipe in recipes %}
    <div class="col s12 m4 l3">
        
        <div class="card">
            <div class="card-image">
                <img src="static/images/placeholder.png"></img>
            </div>
            <div class="card-content">
                <h3>{{recipe.recipe_title}}</h3>
                <p>{{recipe.sub_title}}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('recipe_card', recipe_id=recipe._id)}}">View Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

 {% endblock %}