{% extends 'base.html' %} {% block content %} 

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4 l3">
        
        <div class="card">
            <div class="card-image">
                <img src={{recipe.recipe_url}}></img>
            </div>
            <div class="card-content">
                <h3>{{recipe.recipe_title}}</h3>
                <p>{{recipe.sub_title}}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('recipe_card', recipe_id=recipe._id)}}">View Recipe</a>
                <a href="{{url_for('unsave_recipe', recipe_id=recipe._id)}}">Unsave</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

 {% endblock %}