{% extends 'base.html' %} {% block content %}
<div class='form-container'>
    <h3>Submit a recipe</h3>
    <h4>Fill in the details below to submit a recipe</h4>
    <form action="{{ url_for('submit_recipe') }}" method="post">
        {{ form.csrf_token }}
        {{ form.recipe_title.label }}
        {{ form.recipe_title }} 
        {{ form.sub_title.label }} 
        {{ form.sub_title }} 
        {{ form.makes.label }}
        {{ form.makes(placeholder = "How many/much does this recipe make?") }} 
        {{ form.takes.label }} {{ form.takes(placeholder = "How long does this recipe take to make?") }}
        {{ form.ingredients.label }} 
        <div id="ingredients">
        {{ form.ingredients }}
        </div>
        <a class="btn-floating btn-small waves-effect waves-light red" id="addNewIngredient"><i class="material-icons">add</i></a>
        </br>
        {{ form.method.label }} 
        <div id="method">
        {{ form.method }} 
        </div>
        <a class="btn-floating btn-small waves-effect waves-light red" id="addNewStep"><i class="material-icons">add</i></a>
        </br>
        {{ form.tags.label }}  <a class="btn-floating btn-small waves-effect waves-light red" id="addNewTag"><i class="material-icons">add</i></a>
         <div id="tags">
        {{ form.tags}}
        </div>
        </br>
        <button class="btn btn-sm save-btn" type="submit">Submit Recipe</button>
    </form>
</div>

{% endblock %}